# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android related
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/captures/
*.jks
*.keystore
key.properties

# iOS related
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/ServiceDefinitions.json

# Firebase
google-services.json
firebase-admin-sdk.json
/opt/flutter/google-services.json
/opt/flutter/firebase-admin-sdk.json

# Temporary files
*.tmp
*.temp
*.bak

# Build logs
apk_build.log
flutter.log
flutter2.log
server.log
